@CHARSET "UTF-8";

/* Hide right hand column on smaller screens */

#col3, .template-right {
	display: none;
	width: 0%;
}	
		
/** Show mobile only elements **/
#content .new-action .mobile-only, 
#content article .new-action .mobile-only {
	display: inline;
}	
	
.pos, .widecolumn {
    width: 100%;
    margin: 0 auto;
    position: relative;
    clear: both;
    padding: 0 1em 0 1em;
}
		
#col2, .template-left {
	width: 100%;
}